<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  <title>Document</title>
</head>
<body>
  <div class="container" style="text-align:center">
    <h4 >Login de Usuario</h4>
    <p>Aplicativo de Celular</p>
      <form class="col s8">
        
        <div class="row">
          <div class="input-field col s5">
            <label for="usuario">Usuario:</label>
            <input placeholder="Login" id="login" type="text" class="validate">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s5">
          <label for="password">Senha:</label>
            <input  placeholder="Senha" id="password" type="password" class="validate">
          </div>
        </div>

    <button class="btn waves-effect waves-light" type="submit" name="actionnode">Login
        <i class="material-icons right">send</i></button>
        <a href="/cadastro">Cadastrar</a>
    </form>
  </div >
  <h1>TESTANDO </h1>
  <p>teste server é nois que funfa.</p>
</body>
</html>