<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/materialize.css">
</head>
<body>
    <div class="card-panel blue white-text">Cadastro de Usuario</div>
<div class="row">
    <form>
        <div class="row">
        <div class="input-field col s6">
            <input placeholder="Primeiro Nome" id="first_name" type="text" class="validate">
            <!-- <label for="first_name" class ="left">Primeiro Nome</label> -->
        </div>
        <div class="input-field col s6">
            <input id="last_name" placeholder="Sobrenome" type="text" class="validate">
            <!-- <label for="last_name">Sobrenome</label> -->
        </div>
        </div>
        <div class="input-field col s10">
            <div>
              <input type="text" placeholder="Usuario" name="usuario" id="usuario">
            </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" class="validate" placeholder="Senha">
            <input id="password" type="password" class="validate" placeholder="Confirmar Senha">
            <!-- <label for="password">Password</label> -->
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <!-- <label for="">Sexo:</label> -->
            <select name="sexo" id="sexo">
                <option value="" disabled selected>Sexo</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        </div>
    </form>
    </div>
     <h1> INSERIR FORMULARIO NESSA BAGAÇA</h1>
</body>
</html>