<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="jquery/jquery.js"></script>
    <script src="js/materialize.js"></script>
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>
<body>
    <div class="card-panel blue white-text">Cadastro de Usuario</div>
<div class="row">
    <form class="container">
        <!-- linha de nomes -->
        <div class="row">
        <div class="input-field col s6">
            <input placeholder="Primeiro Nome" id="first_name" type="text" class="validate">
            <label for="first_name">Primeiro Nome</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" placeholder="Sobrenome" type="text" class="validate">
            <label for="last_name">Sobrenome</label>
        </div>
    </div>
    
    <!-- linha de Usuario -->
    <div class="row">
        <div class="input-field col s10">
            <input type="text" placeholder="Usuario" name="usuario" id="usuario">
            <label for="Usuario">Usuário</label>
        </div>
        </div>
        
        <!-- linha de senhas -->
        <div class="row">
        <div class="input-field col s12 m6 l6">
            <input id="password" type="password" class="validate" placeholder="Senha">
            <input id="passwordConf" type="password" class="validate" placeholder="Confirmar Senha">
            <label for="password">Senha</label>
        </div>
        </div>

        <!-- linha de email -->
        <div class="row">
        <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
        </div>

        <!-- linha de select -->
        <div class="row">
        <div class="input-field col s12">
            <!-- <label for="">Sexo:</label> -->
            <select name="sexo" id="sexo">
                <option value=""  disabled selected>Sexo</option>
                <option value="M" class="blue-text"> Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        </div>

        <!-- linha de estado -->
        <div class="row">
        <div class="input-field col s12">
            <select name="categoria" id="categoria" class="black-text">
            <option value="" disabled selected>Estado</option>
            <% estado.estados.forEach(function(item){ %>
                <option class="black" value="<% item.sigla %>"><%= item.sigla %></option>
            <% }) %>
            </select>
        </div>
        </div>

        <!-- botão concluir cadastro -->
        <div class="row">
        <div >
            <button class="btn waves-effect waves-light blue" href="/Principal" name="actionnode">
                Cadastrar
            <i class="material-icons right">done</i></button>
        </div>
        </div>
        

    </form>
    </div>
</body>
</html>