<html>
    <head>
            <script src="jquery/jquery.js"></script>
            <script src="js/materialize.js"></script>
            <link rel="stylesheet" href="css/materialize.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<!-- acrescentar os dados persistentes -->
    <div class="collection">
        <a href="" class="colletion-header black-text"> <h4>Eventos</h4></a>
        <a href="https://www.facebook.com/events/603918776615154/" class="collection-item">
        Kaos Multicultural</a>
        <a href="#!" class="collection-item">evento 2</a>
        <a href="#!" class="collection-item">evento 3</a>
        <a href="#!" class="collection-item">evento 4</a>
    </div>
</html>